NODE_ENV=development

API_GATEWAY_HOST=0.0.0.0
API_GATEWAY_PORT=3000
AUTH_SERVICE_URL=http://auth-service:3001

AUTH_SERVICE_HOST=0.0.0.0
AUTH_SERVICE_PORT=3001
AUTH_JWT_ACCESS_SECRET=replace-access-secret
AUTH_JWT_REFRESH_SECRET=replace-refresh-secret
AUTH_ACCESS_TOKEN_TTL=900
AUTH_REFRESH_TOKEN_TTL=604800
PROJECT_SERVICE_HOST=0.0.0.0
PROJECT_SERVICE_PORT=3003
PROJECT_SERVICE_URL=http://project-service:3003

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=ngola_projects
POSTGRES_USER=ngola
POSTGRES_PASSWORD=ngola_dev_password

REDIS_HOST=redis
REDIS_PORT=6379
